<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>CRUD</title>
</head>

<body>
    <%- include('partials/_navbar')%>
        <% alert.forEach(error => { %>
            <div class="alert alert-warning" role="alert">
                <%= error.msg %>
            </div>
            <% }) %>
                <form method="POST" action="/api/create">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control name" id="name">

                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" name="email" type="email" class="form-control" id="email">

                    </div>
                    <div class="mb-3">
                        <label for="roll" class="form-label">Roll</label>
                        <input type="number" name="roll" min="0" class="form-control roll" id="roll">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
</body>

</html>